<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{titre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let tache of tacheService.listTaches; let i = index" (click)="supprimerTache(i)">
      <ion-label>{{i}} - {{tache}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="valueChampNouvelleTache"></ion-input>
    <ion-button (click)="ajouterTache()" slot="end">Ajouter Tache</ion-button>
  </ion-toolbar>
</ion-footer>